<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @feed.image %>
</p>

<p>
  <strong>User:</strong>
  <%= @feed.user %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
