<h2><%= @user.name %>のお気に入り一覧(favorites_index)</h2>
<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>メッセージ</th>
      <th>投稿者</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
        <td><%#= image_tag favorite.image.url %></td>
        <td><%= image_tag favorite.feed.image.url %></td>
        <td><%= favorite.feed.content %></td>
        <td><%= favorite.feed.user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しく画像を投稿する', new_feed_path %>
