<h1>新規アカウント作成</h1>
<%= form_with(model: @user, local: true) do |f| %>
  <%= f.label :"名前" %>
  <%= f.text_field :name %>
  <%= f.label :"プロフィール写真" %>
  <%= f.text_field :avatar %>
  <%= f.label :"メールアドレス" %>
  <%= f.text_field :mail %>
  <%= f.label :"パスワード" %>
  <%= f.password_field :password %>
  <%= f.label :"確認用パスワード" %>
  <%= f.password_field :password_confirmation %>
  <br><br>
  <%= f.submit "アカウント作成" %>
<% end %>
