<h1>新規アカウント作成</h1>
<%= form_with(model: @user, local: true) do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :"名前" %>
  <%= f.text_field :name %>
  <%= f.label :"プロフィール写真" %>
  <%= f.file_field :avatar %>
  <%= image_tag(@user.avatar.url) if @user.avatar && @user.avatar.url %>
  <%= f.hidden_field :image_cache %>

  <%= f.label :"メールアドレス" %>
  <%= f.text_field :mail %>
  <%= f.label :"パスワード" %>
  <%= f.password_field :password %>
  <%= f.label :"確認用パスワード" %>
  <%= f.password_field :password_confirmation %>
  <br><br>
  <%= f.submit "アカウント作成" %>

<% end %>
